html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	gap: 0.25em;

	flex-grow: 1;
}

.controls {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.left {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.name,
.description {
	word-break: break-word;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 0.25em;
}

.right button {
	font-size: 0.9em;
}

.content-container {
	flex-grow: 1;
	display: flex;
	justify-content: center;

	position: relative;
}

.content-container img {
	object-fit: contain;
	position: absolute;
	width: 100%;
	height: 100%;
}
