@page
@model e_b.Pages.aboutModel
@{
}


<main>
	<h2>About</h2>
	<p>Haii :3</p>
	<p>This is a website where you can upload things</p>
	<p>Contribute on <a style="text-decoration: underline;" href="https://github.com/svee4/e-b" rel="noreferrer" >Github</a></p>
	<script>
		console.log("Contact on discord: @@alexnj");
	</script>
</main>
